[user]
  name = Unreal Hoang
  email = unrealhoang@gmail.com
[core]
	excludesfile = /Users/unreal/.gitignore_global
  autocrlf = input
	editor = nvim
[alias]
  ci = checkin
  st = status
  br = branch
  co = checkout
  df = diff
  cm = commit
[merge]
  tool = splice
[mergetool "splice"]
  cmd = "mvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
  algorithm = minimal
  compactionHeuristic = true
  renames = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
